@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the viewport never scrolls and fills the screen height */
html,
body {
  margin: 0;
  height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
}

@media (min-width: 768px) {
  html,
  body {
    overflow: hidden;
  }
}
